<app-card title="History" colour="success">
    <p>
        With over {{years}} years experience in the IT industry from support, training and development.
    </p>
    <p>
        Specializing as a full stack web developer with all the major frameworks. On the front end with Angular, React and Vue. On the back end with .net, .net core, node and a little Java.
    </p>
    <div *ngFor="let history of histories" class="pb-2">
        <app-history-item [history]="history">
        </app-history-item>
    </div>
</app-card>