<footer class="d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="//www.linkedin.com/pub/glenn-packer/22/186/107" target="_none">
                    <i class="fa fa-linkedin"></i>
                </a>
                <br />
                <a href="Tel:07568400965"><i class="fa fa-phone"></i> 07568 400 965</a>
            </div>
            <div class="col-sm-6">
                <a href="email:glenn.packer@glennpacker.net">
                    <i class="fa fa-envelope"></i>
                    <span class="d-sm-none d-md-inline">
                        Glenn.Packer@glennpacker.net
                    </span>
                </a>
                <br />
                <span class="d-sm-none d-md-block">
                    <i class="fa fa-map-signs"></i>
                    22 The Martletts, Hellingly, BN27 4FA
                </span>
            </div>
        </div>
    </div>
</footer>

<footer class="d-block d-sm-none">
    <div class="row">
        <div class="col-4">
            <a href="//www.linkedin.com/pub/glenn-packer/22/186/107" target="_none">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="col-7">
            <a href="Tel:07568400965"><i class="fa fa-phone"></i> 07568 400 965</a>
        </div>
        <div class="col-1">
            <a href="email:glenn.packer@glennpacker.net">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </div>
</footer>