footer {
    background-color: rgb(33, 37, 41);
    margin-top: -51px;
    position: absolute;
    width: 100%;
    color: #fff;
    border-top: 1px solid #999;
    height: 51px;
}

.footer-container {
    background-color: rgb(33, 37, 41);
    width: 100%;
}