<div [@routerTransition]>
    <h3>Single Page Application (SPA) Developer - Contractor</h3>
    <div class="row pt-3">
        <div class="col-md-4 d-none d-md-block">
            <img src="assets/spa.png" class="header-img mx-auto d-block" />
        </div>
        <div class="col-md-8 col-xs-12">
            <p>
                With SPA frameworks like Angular, <a href="\\react.glenn.packer.net">React</a>, <a href="vuejs.glennpacker.net">Vue</a> we
                have entered a new age of user interactivity. The frameworks are able to leverage technologies like AJAX and Local Storage.
                This site has been developed as a small showcase to using REACT.
            </p>
            <p>
                Glenn has been working with SPA frameworks scince 2014 and has a wealth of experience in several.
            </p>
        </div>
        <div class="col-md-6 h-xs">
            <app-card title="Fast and Responsive" minHeight="355" colour="danger">
                <p>
                    Updates only the part of the page that needs to change leaving the rest. This has less overhead on the server and the
                    client.
                </p>
                <p>
                    The backend in a SPA application will supply the data via API calls which will be created specific for the entity or
                    purpose, instead of the entirety of the page.
                </p>
                <p>
                    With local storage we can further reduce the number of calls to the server and used cached data which has already been
                    supplied to the application.
                </p>
            </app-card>
        </div>
        <div class="col-md-6 h-xs">
            <app-card title="User Experience" minHeight="355" colour="success">
                <p>
                    The user will have a better exprience with a SPA as they will not have the flicker of the full page reload allowing them
                    to concentrate at the task in hand.
                </p>
                <p>
                    With only part of the page updating we can supplier richer fuller interfaces with improved user expereince.
                </p>
            </app-card>
        </div>

        <div class="col-md-12 pt-3">
            <app-qualification-container type="FrontEnd"> </app-qualification-container>
        </div>
    </div>
</div>
